/* *********************************************GENERAL********************************************************************** */

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
#contenaire{
    padding: 5em;
    background-color: antiquewhite;
    min-height:80vh;
}

a:link
{
color: black;
}
a:visited
{
    color: black;
}

#topNav>a:link
{
color: goldenrod;
}
#topNav>a:visited
{
    color: goldenrod;
}
.brun:valid
{
color: rgb(58, 34, 2);
}

.brun:visited
{
color: rgb(58, 34, 2);
}
.brun
{
color: rgb(58, 34, 2);
}



/* #contenaire{
    display: flex;
    flex-direction: column;
    text-align: center;




} */
.accueil{


    background-image: url("../images/cle.jpg");
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 50px;
    
}
.accueil h1, .accueil p{

    color: white;
    text-shadow: 1px 1px 2px pink;
    font-size: xx-large;
    padding-bottom: 1em;
}
header{
    color: goldenrod;
    display: flex;
    padding:2em;
    justify-content: space-evenly;
    background-color: rgb(58, 34, 2);
}
#topNav{
    display:flex;
    justify-content: space-around;
    width:50%;
}
#topNav a {
    font-size: xx-large;
}

/* Menu Burger */

.burgerMenu {
    height: 83px;
    width: 391px;
    position: fixed;
    z-index: 3;
    top: -140px;
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    padding-top: 15px;
    transition: top 0.5s ease;
    display: flex;
  }
  

.burgerMenu a {
    text-decoration: none;
    font-size: 15px;
    color: goldenrod;
    display: block;
    transition: 0.1s;
}
  
.burgerMenu a:hover {
    color: #111;
}
  
.burgerMenu ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
}
  

.burgerMenu.active {
    top: 0px;
}
  

.burgerMenu .close {
    position: absolute;
    top: 55px;
    right: 182px;
    font-size: 36px;
}
  
#openBtn {
    display: none;
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: goldenrod;
    margin: 6px 0;
}


section{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;;
}
h2{
    padding-bottom:2em;
    font-weight: bold;
    font-size: xx-large;
}
#leftNav {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 0.5em;
    width: fit-content;
    position: fixed;
    left: 1rem;
}

.carousellShop
{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
     
        

}
figure{
    max-width: 10rem;
}
img{
    max-width: 100%;
}

.devis{
    
    font-size: xx-large;

}
#apropos{

  
    background-color: goldenrod;

   
}
.artisan{
    display: flex;
    width:60%;
    margin:auto;
}
.artisan>figure{
    width: 100%;
}
.artisan>article{
    text-align: justify;
    font-size: large;
    padding: 1em;
}
.artisan>figure>.img-artisan{
    width: 300px;
}
#actualite
{
    display: flex;
    flex-direction: column;
}


#contenaireActualite{
    display: flex;
    justify-content: center;


}
.articles{
    padding: 1em;
}
#contenaire_articles{
    display: flex;
    justify-content: center;
  }


.articles>article{
    background-color: black;
    margin: 1rem;

}

footer{
    background-color: black;
    color: white;
    display: flex;
    padding:2em;
    justify-content: space-evenly;
   
   
}





/* //////////////////////////////////////////////////page special */

/* devis client */
button{
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 5px !important;
    border-width: 1px;
}

.formulaireDevis
{

    display: flex;
  flex-direction: column;
  border-style: solid;

}    


.cacheDevis {
    display: none;
}
.flexUn 
{
    flex: 1;
}

/* page vos clef */

.devis-li{
    border: 1px solid black;
    background-color: goldenrod;
    margin-bottom: 1em;
    padding : 1em;
}
/* .devis-all{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */
.col{
   width: 33% !important
    
}


.deviss>article
{
    display: flex;
    justify-content: center;
}

#formulaireInscription{
    border-style: solid;
}


    /*  responsive accueil */

    @media screen and (max-width: 1648px) {
        #topNav{
            width: 100%;
        }

    }

 
    @media screen and (max-width: 991px) {
    
        .carousellShop{
            flex-direction: column;
            align-items: center;
        }
    
        .artisan{
            flex-direction: column;
            align-items: center;
        }
       
        #contenaireActualite{
    
            flex-direction: column;
            align-items: center;
        }
           
            #openBtn {
                display: block;
                order: 4;
            }

            #topNav {
                display: none;
            }
        
            .burgerMenu {
                height: 287px;
                width: 240px;
                top: 0px;
                right: -240px;
                transition: right 0.5s ease;
                background:  rgb(58, 34, 2);
                border-bottom-left-radius: 15px;
            }
        
            .burgerMenu.active {
                right: 0px;
                padding: 45px 25px 14px 45px;
                border: 2px solid goldenrod;
                height: auto;
            }
        
            .burgerMenu .close {
                top: 0px;
                left: 24px;
                font-size: 45px;
            }
        
            .burgerMenu a {
                font-size: 21px;
            }
        
            .burgerMenu ul {
                flex-direction: column;
                gap: 10px;
            }
        }