a:link
{
color: goldenrod;
}
a:visited
{
    color: goldenrod;
}
.brun:valid
{
color: rgb(58, 34, 2);
}

.brun:visited
{
color: rgb(58, 34, 2);
}
.brun
{
color: rgb(58, 34, 2);
}



#contenaire{
    display: flex;
    flex-direction: column;
    text-align: center;




}
.accueil{

    height:50vh;
    background-image: url("../images/cle.jpg");
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header{
    color: goldenrod;
display: flex;
justify-content: space-evenly;
background-color: rgb(58, 34, 2);
}
#topNav{
    border: .5mm;
    padding: 2em;
    width:50%;
    display:flex;
    justify-content: space-around;
}
section{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;;
}
#leftNav {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 0.5em;
    width: fit-content;
    position: fixed;
    left: 1rem;
}

.carousellShop
{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
     
        

}
figure{
    max-width: 10rem;
}
img{
    max-width: 100%;
}

.devis{
    
    font-size: xx-large;
    height: 10vh
}
#apropos{

  
    background-color: goldenrod;
    height: 70vh;
   
}
.artisan{
    display: flex;
    width:60%;
    margin:auto;
}
.artisan>figure{
    width: 100%;
}
.artisan>article{
    text-align: justify;
}
#actualite
{
    display: flex;
    flex-direction: column;
}


#contenaireActualite{
    display: flex;
    justify-content: center;


}

#contenaire_articles{
    display: flex;
    justify-content: center;
  }


.articles>article{
    background-color: black;
    margin: 1rem;

}

footer{
    background-color: black;
    color: white;
    display: flex;
  justify-content: space-evenly;
}



/*  responsive accueil */
@media screen and (max-width: 900px) {

    .carousellShop{
        flex-direction: column;
        align-items: center;
    }

    .artisan{
        flex-direction: column;
        align-items: center;
    }
    #apropos{

        height: 200vh;
        

    }
    #contenaireActualite{

        flex-direction: column;
        align-items: center;
    }



    }
  


/* /////////////////////////////////////////////////page special */

/* devis client */
.devis
{
    /* display: flex; */
    
}
.formulaireDevis
{

  display: flex;
  flex-direction: column;
  border-style: solid;

}    


.cacheDevis {
    display: none;
}
.flexUn 
{
    flex: 1;
}


/* page vos clef */


.cols{
    display: flex;
    flex-direction: row;
}
.deviss
{
        display: flex;
        flex-direction: column;    
}

.deviss->article
{
    display: flex;
    justify-content: center;
}

#formulaireInscription{
    border-style: solid;
}

