a:link
{
color: goldenrod;
}
a:visited
{
    color: goldenrod;
}
.brun:valid
{
color: rgb(58, 34, 2);
}

.brun:visited
{
color: rgb(58, 34, 2);
}
.brun
{
color: rgb(58, 34, 2);
}



#contenaire{
    display: flex;
    flex-direction: column;
    text-align: center;



}
header{
    color: goldenrod;
display: flex;
justify-content: space-evenly;
background-color: rgb(58, 34, 2);
}
#topNav{
    border: .5mm;
}
section{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#leftNav {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 0.5em;
    width: fit-content;
    position: fixed;
    left: 1rem;
}

.carousellShop
{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: white;
        background-color: goldenrod;

}
figure{
    max-width: 10rem;
}
img{
    max-width: 100%;
}

.liens{
    color: white;
    background-color: goldenrod;
}
.carouselApropos{
    display: flex;
    justify-content: space-evenly;
}


.articles>article{
    background-color: black;
    margin: 1rem;

}

footer{
    background-color: black;
    color: white;
}



/* /////////////////////////////////////////////////page special */

#formulaireInscription{
    border-style: solid;
}

.formulaireDevis
{

    display: flex;
  flex-direction: column;
  border-style: solid;

}    
